START
PUSHN 2
JUMP main
FBinToInt:
PUSHN 4
PUSHI 0
STOREL 2
PUSHI 1
STOREL 3
PUSHL -1
STRLEN
STOREL 1
L1:
PUSHL 1
PUSHI 1
SUPEQ
JZ L2
PUSHL -1
PUSHL 1
PUSHI 1
SUB
CHARAT
PUSHS "1"
CHRCODE
EQUAL
JZ L3
PUSHL 2
PUSHL 3
ADD
STOREL 2
JUMP L4
L3:
L4:
PUSHL 3
PUSHI 2
MUL
STOREL 3
PUSHL 1
PUSHI 1
SUB
STOREL 1
JUMP L1
L2:
PUSHL 2
STOREL 0
PUSHL 0
STOREL -2
RETURN
main:
PUSHS "Introduza uma string binária:"
WRITES
WRITELN
READ
STOREG 0
PUSHI 0
PUSHG 0
PUSHA FBinToInt
CALL
POP 1
STOREG 1
PUSHS "O valor inteiro correspondente é: "
WRITES
PUSHG 1
WRITEI
WRITELN
STOP
