PUSHI 5
ALLOCN
STOREG 0
START
PUSHN 3
JUMP main
main:
PUSHI 0
STOREG 2
PUSHS "Introduza 5 números inteiros:"
WRITES
WRITELN
PUSHI 1
STOREG 1
L1:
PUSHG 1
PUSHI 5
INFEQ
JZ L2
PUSHG 0
PUSHG 1
PUSHI 1
SUB
READ
ATOI
STOREN
PUSHG 2
PUSHG 0
PUSHG 1
PUSHI 1
SUB
LOADN
ADD
STOREG 2
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP L1
L2:
PUSHS "A soma dos números é: "
WRITES
PUSHG 2
WRITEI
WRITELN
STOP
